version: '2'
services:

    arches_instance:
      container_name: arches_instance
      command: run_arches
      build:
        context: .
        dockerfile: ./Dockerfile
      volumes:
        - arches_instance-log:/arches/arches/logs
        - arches_instance-static:/static_root
        - arches_instance-media:/web_root/arches
      environment:
        - ARCHES_VERSION=master
        - PGUSERNAME=arches
        # MUST MATCH password set in db container config below
        - PGPASSWORD=$$CHANGEMEPGPASS$$
        - PGDBNAME=arches
        - PGHOST=db
        - PGPORT=5432
        - COUCHDB_HOST=couchdb
        - COUCHDB_PORT=5984
        - COUCHDB_USER=admin
        # MUST MATCH password set in couchdb container config below
        - COUCHDB_PASS=$$CHANGEMECOUCHDB$$
        - ESHOST=elasticsearch
        - ESPORT=9200
        - ELASTICSEARCH_PREFIX=SET_ME
        - DJANGO_MODE=PROD
        - DJANGO_DEBUG=False
        - DJANGO_REMOTE_DEBUG=False
        - DJANGO_SECRET_KEY=$$GENERATEANEWSECRET!$$
        - DOMAIN_NAMES=localhost
        - ARCHES_NAMESPACE_FOR_DATA_EXPORT="http://localhost/"
        - TZ=PST
      ports:
        - '8000:8000'
      depends_on:
        - elasticsearch
        - couchdb

    nginx:
      container_name: nginx
      image: cvast/cvast-nginx:1.2.0
      restart: unless-stopped
      ports:
        - '80:80'
        - '443:443'
      volumes:
        - aata_arches-static:/www/static
        - letsencrypt-acme-challenge:/var/www
        - letsencrypt:/etc/letsencrypt
      environment:
        - NGINX_PROXY_MODE=local
        - NGINX_PROTOCOL=http
        - LOCAL_PROXY_HOST=arches_instance
        - LOCAL_PROXY_PORT=8000
        - DOMAIN_NAMES=localhost
        - PUBLIC_MODE=False
        - TZ=PST
      depends_on:
        - arches_instance

    elasticsearch:
      container_name: elasticsearch
      image: docker.elastic.co/elasticsearch/elasticsearch:6.6.2
      volumes:
        - elasticsearch-data:/usr/share/elasticsearch/data
      entrypoint:
        - elasticsearch
        - -Ehttp.port=9200
        - -Ehttp.cors.enabled=true
        - -Ehttp.cors.allow-origin=http://localhost:1358,http://127.0.0.1:1358
        - -Ehttp.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
        - -Ehttp.cors.allow-credentials=true
      user: elasticsearch
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        - TZ=PST

    couchdb:
      container_name: couchdb
      image: couchdb:2.1.1
      ports:
        - "5984:5984"
      environment:
        COUCHDB_USER: admin
        # MUST MATCH password set in aata_arches container config above
        COUCHDB_PASSWORD: $$CHANGEMECOUCHDB$$
      volumes:
        - couchdb-data:/usr/local/var/lib/couchdb
        - couchdb-log:/usr/local/var/log/couchdb

    letsencrypt:
      container_name: letsencrypt
      image: cvast/cvast-letsencrypt:1.1
      volumes:
        - letsencrypt-acme-challenge:/var/www
        - letsencrypt:/etc/letsencrypt
        - letsencrypt-log:/var/log/letsencrypt
      command: get_certificate
      environment:
        - MODE=regular
        - LETSENCRYPT_EMAIL=info@example.com
        - DOMAIN_NAMES=localhost
        - PRODUCTION_MODE=False
        - PERSISTENT_MODE=True
        - TZ=PST


volumes:
    arches_instance-log:
    arches_instance-media:
    arches_instance-static:
    couchdb-data:
    couchdb-log:
    elasticsearch-data:
    letsencrypt:
    letsencrypt-log:
    letsencrypt-acme-challenge:
